# MakeCode
built
node_modules
yotta_modules
yotta_targets
pxt_modules
.pxt
_site
*.db
*.tgz
.header.json
.simstate.json

# Firebase-Emulator
firebase-debug.log
firestore-debug.log
ui-debug.log
*-debug.log
